{% extends "template.twig" %}
{% block content %}
<div class="container margintop200">
{{ block("menuadmin", "adminMenu.twig") }}
    {% if error_connection is defined %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ error_connection }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if success_connection is defined %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    {{ success_connection }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if success_add_project is defined %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    {{ success_add_project }}<a href="/admin/projets"> Voir les projets</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if error_add_project is defined %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    {{ error_add_project }}<a href="/admin/projets"> Voir les projets</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if addprojectform is defined %}
    <div class="row">
        <div class="col-md-12">
            <form action="/admin/ajout-projet" method="POST">
                {% autoescape %}
                    {{ addprojectform.title|raw }}
                    {{ addprojectform.intro|raw }}
                    {{ addprojectform.url|raw }}
                    {{ addprojectform.technologies|raw }}
                    {{ addprojectform.realisationDate|raw }}
                    {{ addprojectform.content|raw }}
                    {{ addprojectform.submit|raw }}
                {% endautoescape %}
            </form>
        </div>
    </div>
    {% endif %}
    {% if editprojectform is defined %}
        <div class="row">
            <div class="col-md-12">
                <form action="/admin/editer-projet" method="POST">
                    {% autoescape %}
                        {{ editprojectform.id|raw }}
                        {{ editprojectform.title|raw }}
                        {{ editprojectform.intro|raw }}
                        {{ editprojectform.url|raw }}
                        {{ editprojectform.technologies|raw }}
                        {{ editprojectform.realisationDate|raw }}
                        {{ editprojectform.content|raw }}
                        {{ editprojectform.submit|raw }}
                    {% endautoescape %}
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
