{% extends "template.twig" %}
{% block content %}
<div class="container margintop200">
    {{ block("menuadmin", "adminMenu.twig") }}
        <div class="row">
            <div class="col-md-12">
                {% if error is defined %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                {% if success is defined %}
                    <div class="alert alert-success">
                        {{ success }}
                    </div>
                {% endif %}
                <h3>Les commentaires</h3>
                {% for comment in commentlist%}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Id du commentaire : {{ comment.id }}</h4>
                            <h4>Id du portfolio : {{ comment.projectId }}</h4>
                            <h4>Pseudo : {{ comment.pseudo|raw }}</h4>
                            <h5>Date : {{ comment.commentDate }}</h5>
                            <p>Commentaire : {{ comment.content|raw }}</p>
                            <a class="btn btn-success" href="/admin/commentaires/valider-{{ comment.id }}">Valider</a>
                            <a class="btn btn-danger" href="/admin/commentaires/supprimer-{{ comment.id }}">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>


{% endblock %}