{% extends "template.twig" %}
{% block content %}
<div class="container margintop200">
{{ block("menuadmin", "adminMenu.twig") }}
    {% if error_connection is defined %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ error_connection }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if success_connection is defined %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    {{ success_connection }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if success_add_post is defined %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    {{ success_add_post }}<a href="/admin/projets"> Voir les projets</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if addpostform is defined %}
    <div class="row">
        <div class="col-md-12">
            <form action="/admin/ajout-projet" method="post">
                {% autoescape %}
                    {{ addpostform.title|raw }}
                    {{ addpostform.intro|raw }}
                    {{ addpostform.url|raw }}
                    {{ addpostform.technologies|raw }}
                    {{ addpostform.realisation_date|raw }}
                    {{ addpostform.content|raw }}
                    {{ addpostform.submit|raw }}
                {% endautoescape %}
            </form>
        </div>
    </div>
    {% endif %}
    {% if editpostform is defined %}
        <div class="row">
            <div class="col-md-12">
                <form action="/admin/ajout-projet" method="post">
                    {% autoescape %}
                        {{ editpostform.id|raw }}
                        {{ editpostform.title|raw }}
                        {{ editpostform.intro|raw }}
                        {{ editpostform.url|raw }}
                        {{ editpostform.technologies|raw }}
                        {{ editpostform.realisation_date|raw }}
                        {{ editpostform.content|raw }}
                        {{ editpostform.submit|raw }}
                    {% endautoescape %}
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
