{% extends "template.twig" %}
{% block content %}
{{ block("menuadmin", "adminMenu.twig") }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Les commentaires</h3>
                {% for comment in commentlist%}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Id du commentaire : {{ comment.id }}</h4>
                            <h4>Id du portfolio : {{ comment.portfolio_id }}</h4>
                            <h4>Pseudo : {{ comment.pseudo }}</h4>
                            <h5>Date : {{ comment.comment_date }}</h5>
                            <p>Commentaire : {{ comment.content }}</p>
                            <a class="btn btn-success" href="index.php?action=validCom&amp;id={{ comment.id }}">Valider</a>
                            <a class="btn btn-danger" href="index.php?action=deleteCom&amp;id={{ comment.id }}">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}