{% extends "template.twig" %}

{% block content %}
<div class="container margintop200">
    <div class="row">
        <div class="col-md-12">
            {% if error is defined %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            {% if success is defined %}
                <div class="alert alert-success">
                    {{ success }}
                </div>
            {% endif %}
            <form action="/contact/message" method="POST">
                {% autoescape %}
                    {{ contactform.first_name|raw }}
                    {{ contactform.last_name|raw }}
                    {{ contactform.email|raw }}
                    {{ contactform.message|raw }}
                    {{ contactform.submit|raw }}
                {% endautoescape %}
            </form>
        </div>
    </div>
</div>
{% endblock %}





