{% extends "template.twig" %}
{% block content %}
    {% if success_connection is defined %}
        {{ block("menuadmin", "adminMenu.twig") }}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if error_connection is defined %}
                    <div class="alert alert-danger">
                        {{ error_connection }}
                    </div>
                {% endif %}
                {% if success_connection is defined %}
                    <div class="alert alert-success">
                        {{ success_connection }}
                    </div>
                {% endif %}
                {% if success_add_post is defined %}
                    <div class="alert alert-success">
                        {{ success_add_post }}<a href="/">Voir les portolios</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if adminconnectionform is defined %}
            <div class="container margintop100">
                <div class="row">
                    <div class="col-md-12">
                        <form action="index.php?action=askAdminConnection" method="post">
                            {% autoescape %}
                                {{ adminconnectionform.email|raw }}
                                {{ adminconnectionform.password|raw }}
                                {{ adminconnectionform.submit|raw }}
                            {% endautoescape %}
                        </form>
                    </div>
                </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
