{% extends "template.twig" %}
{% block content %}
<div class="container margintop200">
    {{ block("menuadmin", "adminMenu.twig") }}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-dark" href="/admin/ajouter-un-projet">Ajouter un projet</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Les projets</h2>
            {% for project in projectlist  %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="/admin/editer-un-projet/{{ project.id }}"><h3>{{ project.title|raw }}</h3></a>
                        <p>{{ project.intro|raw }}</p>
                        <a class="btn btn-primary" href="/admin/editer-un-projet/{{ project.id }}">Editer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
