{% extends "template.twig" %}

{% block content %}
    <div class="container margintop200">
        <div class="row">
            <div class="col-md-8">
                <h1>{{ project.title }}</h1>
                <p><strong>Modifié le : </strong>{{ project.modification_date|date("d/m/Y")  }}<br>
                <strong>Auteur : </strong> Mathieu DELROT</p>
                <p>{{ project.intro|raw }}</p>
                <div>
                    <p>{{ project.content|raw }}</p>
                </div>
            </div>
            <div class="col-md-4 info-project">
                <p><strong>Date de mise en ligne : </strong>{{ project.realisation_date|raw }}<br>
                <strong>Technologies : </strong>{{ project.technologies|raw }}<br>
                <a href="{{ project.url }}" target="_blank">Voir le site web</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if commentlist is not empty %}
                    {% for comment in commentlist %}
                        <div class="mb-5">
                            <h4>{{ comment.pseudo|raw }}</h4>
                            <h5>Date : {{ comment.comment_date }}</h5>
                            <p>Commentaire : {{ comment.content|raw }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if error is not empty %}
                    <div id="alert" class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                {% if success is not empty %}
                    <div id="alert" class="alert alert-success">
                        {{ success }}
                    </div>
                {% endif %}
                {% if resetpasswordform is not empty %}
                    <form action="/{{ project.slug }}-{{ project.id }}/reinitialiser-mot-de-passe" method="POST">
                        {% autoescape %}
                            {{ resetpasswordform.email|raw }}
                            {{ resetpasswordform.submit|raw }}
                        {% endautoescape %}
                    </form>
                {% endif %}
                {% if newpasswordform is defined %}
                    {% if key is defined %}
                            <input type="hidden" name="<?= \Volnix\CSRF\CSRF::TOKEN_NAME ?>" value="<?= \Volnix\CSRF\CSRF::getToken() ?>"/>
                            {% autoescape %}
                                {{ newpasswordform.password|raw }}
                                {{ newpasswordform.submit|raw }}
                            {% endautoescape %}
                        </form>
                    {% endif %}
                {% endif %}
                {% if connectionform is not empty%}
                    {% if accountform is not empty %}
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="connection-tab" data-toggle="tab" role="tab" href="#connexion">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="inscription-tab" data-toggle="tab" role="tab" href="#inscription">Inscription</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="connection" role="tabpanel" aria-labelledby="connection-tab">
                                <form action="/{{ project.slug }}-{{ project.id }}/connexion" method="POST">
                                    {% autoescape %}
                                        {{ connectionform.email|raw }}
                                        {{ connectionform.password|raw }}
                                        {{ connectionform.submit|raw }}
                                    {% endautoescape %}
                                </form>
                                <a href="/{{ project.slug }}-{{ project.id }}/mot-de-passe-oublie">Mot de passe oublié ?</a>
                            </div>
                            <div class="tab-pane fade show" id="inscription" role="tabpanel" aria-labelledby="inscription-tab">
                                <form action="/{{ project.slug }}-{{ project.id }}/inscription" method="POST">
                                    {% autoescape %}
                                        {{ accountform.first_name_account|raw }}
                                        {{ accountform.email|raw }}
                                        {{ accountform.password|raw }}
                                        {{ accountform.submit|raw }}
                                    {% endautoescape %}
                                </form>
                            </div>
                        </div>
                    {% endif  %}
                {% endif  %}
                {% if commentform is not empty %}
                        <form action="/{{ project.slug }}-{{ project.id }}/ajouter-un-commentaire" method="POST">
                            {% autoescape %}
                                {{ commentform.comment|raw }}
                                {{ commentform.submit|raw }}
                            {% endautoescape %}
                        </form>
                        <a href="/{{ project.slug }}-{{ project.id }}/deconnexion">déconnexion</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}